<mad-content-projection-example>
  <h1>Ng-content</h1>
  <p paragraph>
    A forma mais básica de projeção de conteúdo é a projeção de conteúdo de slot
    único . A projeção de conteúdo de slot único refere-se à criação de um
    componente no qual você pode projetar um componente. Um componente pode ter
    vários slots. Cada slot pode especificar um seletor CSS que determina qual
    conteúdo vai para aquele slot. Esse padrão é conhecido como projeção de
    conteúdo de vários slots .
  </p>
</mad-content-projection-example>
