<h1>Lifecycle-hooks</h1>
<p>
  Uma instância do componente tem um ciclo de vida que começa quando o Angular
  instancia a classe do componente e renderiza a visualização do componente
  junto com suas child views.
</p>

<p>Veja abaixo os ciclos de vida do componente:</p>
<ul>
  <li>ngOnChanges</li>
  <li>ngOnInit</li>
  <li>ngDoCheck</li>
  <li>ngAfterContentInit</li>
  <li>ngAfterContentChecked</li>
  <li>ngAfterViewInit</li>
  <li>ngAfterViewChecked</li>
  <li>ngAfterContentChecked</li>
  <li>ngAfterViewChecked</li>
  <li>ngOnDestroy</li>
</ul>
